<section class="hero">
    <div class="hero-content">
        <div class="profile-image-container">
            <img rel="preload" as="image" src="{{ get_url(path="/images/citta-metropolitana-venezia.webp")  }}" alt="Città Metropolitana di Venezia" class="profile-image">
        </div>
        <div class="profile-info">
            <h1 class="name">Città Metropolitana di Venezia</h1>
            <h2 class="title">Guida della Città Metropolitana di Venezia
            </h2>
            
           
            <p class="intro">Scopri la Città Metropolitana di Venezia: 44 <a href="/comuni">comuni</a>, dalla laguna all'entroterra. </p>
            <p class="description">Dal capoluogo alle spiagge del litorale, dai percorsi cicloturistici alle ville venete, trovi tutte le informazioni per visitare e vivere questo territorio unico.</p>
           

            <a href="#" class="learn-more">Learn more →</a>
        </div>
    </div>
</section>